<div class="rb-row">
    <div class="rb-col">
        <?php $this->e($column1) ?>
    </div>
</div>
<div class="rb-row">
    <div class="rb-col" id="r-content">
        <?php $this->e($column2) ?>
    </div>
</div>